.panel {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 95%;

  flex: 1 0;
  flex-direction: column;
}

.left-panel {
  border-right: 1px solid var(--accent);
}

.right-panel {
  border-left: 1px solid var(--accent);
}

.middle-panel {
  flex: 1 0 30%;
}

.left-panel {
  gap: 20px;
}

.event-container {
  width: 90%;
}

.event-name {
  font-weight: bold;
  border-bottom: 1px solid var(--accent);
}

.time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-bottom: 1px solid var(--accent);
  width: 90%;

  flex: 0 0 40%;

  font-weight: bold;
}

.time {
  font-size: 2.5em;
}

.date {
  font-size: 1.5em;
  filter: brightness(0.6);
}

.event-creation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  flex: 1 0;
  padding: 10px;
}

.event-type-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;

  border-bottom: 1px solid var(--accent);
  padding: 10px;
}

.relative-event-creation, .exact-event-creation {
  flex: 1 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.relative-time-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 10px;
  width: 70%;
}

.relative-time-input-container > input[type=number] {
  width: 40px;
  text-align: center;
}

.relative-time-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.exact-event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.exact-event-container > input[type=number] {
  width: 100px;
}

.exact-event-button {
  background-color: var(--accent);
  color: var(--bg-1);
  padding: 5px 40px;
  border: 1px solid var(--bg-1);
  cursor: pointer;
}

.exact-event-button:hover {
  background-color: var(--bg-1);
  color: var(--accent);
  border: 1px solid var(--accent);
}
