.InputTypeToggle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    border-bottom: 1px solid var(--accent);
    padding-bottom: 1%;
    margin-bottom: 2.5%;
    
    font-size: calc(var(--font-scaling) * 1.5ch);
}

.input-type-toggle-button {
    flex: 0 0 50%;
    text-align: center;
    cursor: pointer;
}

.input-type-toggle-button.disabled {
    filter: brightness(0.5);
}

.input-type-toggle-button.disabled:hover {
    filter: brightness(0.75);
}