.RelativeInput {
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.5ch;
}

.relative-input-input {
    background: none;
    outline: 0;
    border: 0;
    
    border-bottom: 1px solid var(--accent);
    margin: 0px 10px;
    width: 50px;
    max-width: min-content;
    color: var(--accent);
    font-family: major-mono;
    font-size: 1.5ch;
    text-align: center;
}

.relative-input-input.text {
    width: 300px;
}

.relative-input-repeat-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.add-relative-input-button {
    width: 25%;
    margin-top: 20px;
    padding: 5px 20px;
    border: 1px solid var(--accent);
    cursor: pointer;
}

.add-relative-input-button:hover {
    background-color: var(--accent);
    color: var(--bg-1);
}