.app {
  position: absolute;
  border: 1px solid var(--accent);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 20px;
}
