.BigClock {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    --font-size: 1;
}

@media screen and (max-width: 1500px) {
    .BigClock {
        --font-size: 0.5;
    }
}

.clock-header {
    font-size: calc(var(--font-size) * 2ch);
    border-bottom: 1px solid var(--accent);
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.actual-clock {
    font-weight: bold;
    font-size: calc(var(--font-size) * 6ch);
}

.clock-subtext {
    font-size: calc(var(--font-size) * 3ch);
}
