.TopPanel {
    border-bottom: 1px solid var(--accent);
    flex: 0 0 40%;
    
    --font-scaling: 1;
}

@media screen and (max-width: 1500px) {
    .TopPanel {
        --font-scaling: 0.75;
    }
}

@media screen and (max-width: 1200px) {
    .TopPanel {
        --font-scaling: 0.5;
    }
}
